.container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
}

.container1 {
    gap: 10px;
    grid-template: ". g g g . " 100px
                    "o_ . . . . " 100px
                    "o . e e . " 100px 
                    "o . . . l " 100px
                    ". g_ g_ g_ ." 100px 
                    / 100px 100px 100px 100px 100px;
}

.container1 .item1, .container2 .item1{
    grid-area: g;
}
.container1 .item2,.container2 .item2{
    grid-area: o_;
}
.container1 .item3,.container2 .item3{
    grid-area: o;
}
.container1 .item4,.container2 .item4{
    grid-area: g_;
}
.container1 .item5,.container2 .item5{
    grid-area: l;
}
.container1 .item6,.container2 .item6{
    grid-area: e;
}
.container2 .item7{
  grid-column-start: 6;
  grid-column-end: 7;  
}
.container2 .item8{
  grid-column-start: 6;
  grid-column-end: 7;  
}
.container2 .item9{
  grid-row-start: 6;
  grid-row-end: 7;  
}

.container2 {
    gap: 10px;
    grid: ". g g g . " 100px
        "o_ . . . . " 100px
        "o . e e . " 100px 
        "o . . . l " 100px
        ". g_ g_ g_ ." 100px 
        / 100px 100px 100px 100px 100px;
}

.container .item {
    font-size: 3em;
    color: #eee;
    padding: 10px;
    text-align: center;
}

.container .item1 {
    background-image: linear-gradient(to bottom right, #FC97AF, #FC587F);
}

.container .item2 {
    background-image: linear-gradient(to bottom right, #97CAFC, #58AAFC);
}

.container .item3 {
    background-image: linear-gradient(to bottom right, #FCCA97, #FCA958);
}

.container .item4 {
    background-image: linear-gradient(to bottom right, #B197FC, #8158FC);
}

.container .item5 {
    background-image: linear-gradient(to bottom right, #FC97D2, #FC58B8);
}

.container .item6 {
    background-image: linear-gradient(to bottom right, #70F0E3, #36D9C8);
}

.container .item7 {
    background-image: linear-gradient(to bottom right, #97A8FC, #5878FC);
}

.container .item8 {
    background-image: linear-gradient(to bottom right, #FC9797, #FE6969);
}

.container .item9 {
    background-image: linear-gradient(to bottom right, #97ECFC, #30DDFF);
}

.container .item10 {
    background-image: linear-gradient(to bottom right, #96B7FA, #5580EB);
}